.menu {
  background: #fff url("../images/background_menu.svg") no-repeat center/cover;
}

.menu__title {
  max-width: 780px;
  margin: 0 auto;
  padding: 100px 0 0;
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin: 24px auto 0;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin: 100px auto 0;
  padding: 0 0 100px;
  max-width: 1180px;
}
