.menu {
  background: #fff url("../images/background_menu.svg") no-repeat center/cover;
}

.menu__title {
  max-width: 780px;
  margin: 0 auto;
  padding: 100px 0 0;
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin: 24px auto 0;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin: 100px auto 0;
  padding: 0 0 100px;
  max-width: 1180px;
}

.card {
  width: 540px;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
}

.card__list {
  font-family: "Noto Serif", "Times New Roman", serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card__list-item {
  margin: 0 0 16px;
  display: flex;
}

.card__list-item:last-of-type {
  margin: 0;
}

.card__list-divider {
  display: flex;
  flex-grow: 1;
  border-bottom: 1px solid #000;
  margin: 0 8px;
}
